<a href="https://colab.research.google.com/github/heejjj/Sleeping_Project/blob/main/SJ_padding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 주중 데이터셋 불러오기

In [3]:
## 해당 경로에 있는 .csv 파일명 리스트 가져오기

import os

path = '/content/drive/MyDrive/KDT_project/HACKATHON/data/day_split_weekday'
file_list = os.listdir(path)
file_name = [file for file in file_list if file.endswith('.csv')] ## 파일명 끝이 .csv인 경우

In [4]:
cd /content/drive/MyDrive/KDT_project/HACKATHON/data/day_split_weekday

/content/drive/MyDrive/KDT_project/HACKATHON/data/day_split_weekday

In [5]:
data_weekday = pd.DataFrame()

for files in file_name:
    df= pd.read_csv(files)
    data_weekday = pd.concat([data_weekday, df])

In [6]:
data_weekday

,Unnamed: 0,Start,End,Duration (hr),Value,Source,Sl_start,weekday
0,297,2023-02-21 00:24:46,2023-02-21 00:52:16,0.458,Core,Sujeong의 Apple Watch,2023-02-21 00:24:46,1
1,299,2023-02-21 00:52:16,2023-02-21 00:57:16,0.083,Deep,Sujeong의 Apple Watch,2023-02-21 00:52:16,1
2,300,2023-02-21 00:57:16,2023-02-21 02:03:16,1.100,Core,Sujeong의 Apple Watch,2023-02-21 00:57:16,1
3,301,2023-02-21 02:03:16,2023-02-21 02:28:46,0.425,Deep,Sujeong의 Apple Watch,2023-02-21 02:03:16,1
4,302,2023-02-21 02:28:46,2023-02-21 02:29:16,0.008,Awake,Sujeong의 Apple Watch,2023-02-21 02:28:46,1
...,...,...,...,...,...,...,...,...
16,2948,2023-05-03 06:16:05,2023-05-03 06:44:05,0.467,Core,Sujeong의 Apple Watch,2023-05-03 06:16:05,2
17,2950,2023-05-03 06:44:05,2023-05-03 07:09:05,0.417,REM,Sujeong의 Apple Watch,2023-05-03 06:44:05,2
18,2951,2023-05-03 07:09:05,2023-05-03 07:29:05,0.333,Core,Sujeong의 Apple Watch,2023-05-03 07:09:05,2
19,2952,2023-05-03 07:29:05,2023-05-03 07:30:05,0.017,Awake,Sujeong의 Apple Watch,2023-05-03 07:29:05,2
20,2953,2023-05-03 07:30:05,2023-05-03 07:31:05,0.017,Core,Sujeong의 Apple Watch,2023-05-03 07:30:05,2

In [7]:
data_weekday = data_weekday.drop('Unnamed: 0', axis=1)
data_weekday

,Start,End,Duration (hr),Value,Source,Sl_start,weekday
0,2023-02-21 00:24:46,2023-02-21 00:52:16,0.458,Core,Sujeong의 Apple Watch,2023-02-21 00:24:46,1
1,2023-02-21 00:52:16,2023-02-21 00:57:16,0.083,Deep,Sujeong의 Apple Watch,2023-02-21 00:52:16,1
2,2023-02-21 00:57:16,2023-02-21 02:03:16,1.100,Core,Sujeong의 Apple Watch,2023-02-21 00:57:16,1
3,2023-02-21 02:03:16,2023-02-21 02:28:46,0.425,Deep,Sujeong의 Apple Watch,2023-02-21 02:03:16,1
4,2023-02-21 02:28:46,2023-02-21 02:29:16,0.008,Awake,Sujeong의 Apple Watch,2023-02-21 02:28:46,1
...,...,...,...,...,...,...,...
16,2023-05-03 06:16:05,2023-05-03 06:44:05,0.467,Core,Sujeong의 Apple Watch,2023-05-03 06:16:05,2
17,2023-05-03 06:44:05,2023-05-03 07:09:05,0.417,REM,Sujeong의 Apple Watch,2023-05-03 06:44:05,2
18,2023-05-03 07:09:05,2023-05-03 07:29:05,0.333,Core,Sujeong의 Apple Watch,2023-05-03 07:09:05,2
19,2023-05-03 07:29:05,2023-05-03 07:30:05,0.017,Awake,Sujeong의 Apple Watch,2023-05-03 07:29:05,2
20,2023-05-03 07:30:05,2023-05-03 07:31:05,0.017,Core,Sujeong의 Apple Watch,2023-05-03 07:30:05,2

# 출발점
## weekday_start

In [8]:
# 출발점(잠드는 시간) 데이터셋 생성 "weekday_start"
weekday_start = data_weekday.loc[0]
weekday_start

,Start,End,Duration (hr),Value,Source,Sl_start,weekday
0,2023-02-21 00:24:46,2023-02-21 00:52:16,0.458,Core,Sujeong의 Apple Watch,2023-02-21 00:24:46,1
0,2023-02-22 00:29:17,2023-02-22 00:47:17,0.300,Core,Sujeong의 Apple Watch,2023-02-22 00:29:17,2
0,2023-02-23 00:19:53,2023-02-23 00:36:23,0.275,Core,Sujeong의 Apple Watch,2023-02-23 00:19:53,3
0,2023-02-23 22:54:10,2023-02-23 22:58:40,0.075,Core,Sujeong의 Apple Watch,2023-02-23 22:54:10,3
0,2023-02-26 23:36:12,2023-02-26 23:57:42,0.358,Core,Sujeong의 Apple Watch,2023-02-26 23:36:12,6
0,2023-02-27 23:59:19,2023-02-28 00:22:49,0.392,Core,Sujeong의 Apple Watch,2023-02-27 23:59:19,0
0,2023-03-01 02:06:14,2023-03-01 02:12:14,0.100,Core,Sujeong의 Apple Watch,2023-03-01 02:06:14,2
0,2023-03-01 23:54:17,2023-03-01 23:57:17,0.050,Core,Sujeong의 Apple Watch,2023-03-01 23:54:17,2
0,2023-03-03 00:13:13,2023-03-03 00:16:43,0.058,Core,Sujeong의 Apple Watch,2023-03-03 00:13:13,4
0,2023-03-05 23:29:05,2023-03-05 23:30:35,0.025,Core,Sujeong의 Apple Watch,2023-03-05 23:29:05,6
0,2023-03-06 22:49:34,2023-03-06 23:09:04,0.325,Core,Sujeong의 Apple Watch,2023-03-06 22:49:34,0
0,2023-03-07 23:11:48,2023-03-07 23:25:48,0.233,Core,Sujeong의 Apple Watch,2023-03-07 23:11:48,1
0,2023-03-08 23:11:34,2023-03-08 23:13:04,0.025,Core,Sujeong의 Apple Watch,2023-03-08 23:11:34,2
0,2023-03-10 00:09:59,2023-03-10 00:10:59,0.017,Core,Sujeong의 Apple Watch,2023-03-10 00:09:59,4
0,2023-03-13 02:02:06,2023-03-13 02:03:36,0.025,Core,Sujeong의 Apple Watch,2023-03-13 02:02:06,0
0,2023-03-13 23:55:24,2023-03-14 00:11:54,0.275,Core,Sujeong의 Apple Watch,2023-03-13 23:55:24,0
0,2023-03-15 00:04:28,2023-03-15 00:23:58,0.325,Core,Sujeong의 Apple Watch,2023-03-15 00:04:28,2
0,2023-03-15 23:50:47,2023-03-16 00:08:17,0.292,Core,Sujeong의 Apple Watch,2023-03-15 23:50:47,2
0,2023-03-16 23:46:34,2023-03-17 00:07:04,0.342,Core,Sujeong의 Apple Watch,2023-03-16 23:46:34,3
0,2023-03-20 00:40:05,2023-03-20 00:45:35,0.092,Core,Sujeong의 Apple Watch,2023-03-20 00:40:05,0
0,2023-03-21 22:37:04,2023-03-21 22:40:34,0.058,Core,Sujeong의 Apple Watch,2023-03-21 22:37:04,1
0,2023-03-23 00:30:33,2023-03-23 00:58:33,0.467,Core,Sujeong의 Apple Watch,2023-03-23 00:30:33,3
0,2023-03-23 22:44:34,2023-03-23 23:03:34,0.317,Core,Sujeong의 Apple Watch,2023-03-23 22:44:34,3
0,2023-03-26 23:58:09,2023-03-27 00:00:09,0.033,Core,Sujeong의 Apple Watch,2023-03-26 23:58:09,6
0,2023-03-27 22:31:08,2023-03-27 22:41:08,0.167,Core,Sujeong의 Apple Watch,2023-03-27 22:31:08,0
0,2023-03-28 22:56:35,2023-03-28 23:14:05,0.292,Core,Sujeong의 Apple Watch,2023-03-28 22:56:35,1
0,2023-03-30 00:41:41,2023-03-30 00:44:41,0.050,Core,Sujeong의 Apple Watch,2023-03-30 00:41:41,3
0,2023-03-30 22:51:24,2023-03-30 23:00:54,0.158,Core,Sujeong의 Apple Watch,2023-03-30 22:51:24,3
0,2023-04-02 23:44:17,2023-04-02 23:46:47,0.042,Core,Sujeong의 Apple Watch,2023-04-02 23:44:17,6
0,2023-04-03 23:36:11,2023-04-03 23:37:41,0.025,Core,Sujeong의 Apple Watch,2023-04-03 23:36:11,0
0,2023-04-04 23:12:06,2023-04-04 23:20:06,0.133,Core,Sujeong의 Apple Watch,2023-04-04 23:12:06,1
0,2023-04-05 23:09:04,2023-04-05 23:11:34,0.042,Core,Sujeong의 Apple Watch,2023-04-05 23:09:04,2
0,2023-04-06 23:51:52,2023-04-07 00:16:52,0.417,Core,Sujeong의 Apple Watch,2023-04-06 23:51:52,3
0,2023-04-10 01:22:05,2023-04-10 01:39:35,0.292,Core,Sujeong의 Apple Watch,2023-04-10 01:22:05,0
0,2023-04-10 23:04:04,2023-04-10 23:24:34,0.342,Core,Sujeong의 Apple Watch,2023-04-10 23:04:04,0
0,2023-04-11 22:57:16,2023-04-11 23:09:46,0.208,Core,Sujeong의 Apple Watch,2023-04-11 22:57:16,1
0,2023-04-13 00:15:30,2023-04-13 00:46:30,0.517,Core,Sujeong의 Apple Watch,2023-04-13 00:15:30,3
0,2023-04-14 00:31:31,2023-04-14 00:33:31,0.033,Core,Sujeong의 Apple Watch,2023-04-14 00:31:31,4
0,2023-04-17 00:26:37,2023-04-17 00:27:37,0.017,Core,Sujeong의 Apple Watch,2023-04-17 00:26:37,0
0,2023-04-17 23:11:10,2023-04-17 23:26:10,0.250,Core,Sujeong의 Apple Watch,2023-04-17 23:11:10,0
0,2023-04-18 22:38:41,2023-04-18 22:52:41,0.233,Core,Sujeong의 Apple Watch,2023-04-18 22:38:41,1
0,2023-04-20 00:32:05,2023-04-20 00:33:05,0.017,Core,Sujeong의 Apple Watch,2023-04-20 00:32:05,3
0,2023-04-21 00:41:08,2023-04-21 01:09:08,0.467,Core,Sujeong의 Apple Watch,2023-04-21 00:41:08,4
0,2023-04-23 23:55:14,2023-04-23 23:56:14,0.017,Core,Sujeong의 Apple Watch,2023-04-23 23:55:14,6
0,2023-04-25 00:32:49,2023-04-25 00:38:19,0.092,Core,Sujeong의 Apple Watch,2023-04-25 00:32:49,1
0,2023-04-26 00:08:44,2023-04-26 00:30:14,0.358,Core,Sujeong의 Apple Watch,2023-04-26 00:08:44,2
0,2023-04-26 23:32:04,2023-04-26 23:49:34,0.292,Core,Sujeong의 Apple Watch,2023-04-26 23:32:04,2
0,2023-04-28 01:04:20,2023-04-28 01:06:20,0.033,Core,Sujeong의 Apple Watch,2023-04-28 01:04:20,4
0,2023-05-01 00:38:56,2023-05-01 00:41:26,0.042,Core,Sujeong의 Apple Watch,2023-05-01 00:38:56,0
0,2023-05-02 01:29:16,2023-05-02 01:49:46,0.342,Core,Sujeong의 Apple Watch,2023-05-02 01:29:16,1
0,2023-05-02 23:58:05,2023-05-02 23:59:05,0.017,Core,Sujeong의 Apple Watch,2023-05-02 23:58:05,1

In [9]:
weekday_start['Sl_start'] = pd.to_datetime(weekday_start['Sl_start'], format='%Y-%m-%d %H:%M:%S', errors='raise')
weekday_start['slst_time']  = weekday_start['Sl_start'].dt.time         # HH:MM:SS(문자)
weekday_start['slst_hour']  = weekday_start['Sl_start'].dt.hour         # 시(숫자)
weekday_start['slst_minute'] = weekday_start['Sl_start'].dt.minute       # 분(숫자)
weekday_start['slst_second'] = weekday_start['Sl_start'].dt.second       # 초(숫자)

weekday_start.head()

<ipython-input-9-33753c92e6f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekday_start['Sl_start'] = pd.to_datetime(weekday_start['Sl_start'], format='%Y-%m-%d %H:%M:%S', errors='raise')
<ipython-input-9-33753c92e6f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekday_start['slst_time']  = weekday_start['Sl_start'].dt.time         # HH:MM:SS(문자)
<ipython-input-9-33753c92e6f3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekday_start['slst_hour']  = weekday_start['Sl_start'].dt.hour         # 시(숫자)
<ipython-input-9-33753c92e6f3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekday_start['slst_minute'] = weekday_start['Sl_start'].dt.minute       # 분(숫자)
<ipython-input-9-33753c92e6f3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekday_start['slst_second'] = weekday_start['Sl_start'].dt.second       # 초(숫자)

,Start,End,Duration (hr),Value,Source,Sl_start,weekday,slst_time,slst_hour,slst_minute,slst_second
0,2023-02-21 00:24:46,2023-02-21 00:52:16,0.458,Core,Sujeong의 Apple Watch,2023-02-21 00:24:46,1,00:24:46,0,24,46
0,2023-02-22 00:29:17,2023-02-22 00:47:17,0.300,Core,Sujeong의 Apple Watch,2023-02-22 00:29:17,2,00:29:17,0,29,17
0,2023-02-23 00:19:53,2023-02-23 00:36:23,0.275,Core,Sujeong의 Apple Watch,2023-02-23 00:19:53,3,00:19:53,0,19,53
0,2023-02-23 22:54:10,2023-02-23 22:58:40,0.075,Core,Sujeong의 Apple Watch,2023-02-23 22:54:10,3,22:54:10,22,54,10
0,2023-02-26 23:36:12,2023-02-26 23:57:42,0.358,Core,Sujeong의 Apple Watch,2023-02-26 23:36:12,6,23:36:12,23,36,12

# 끝점
## weekday_end

In [10]:
data_weekday_end = data_weekday.reset_index()
data_weekday_end

,index,Start,End,Duration (hr),Value,Source,Sl_start,weekday
0,0,2023-02-21 00:24:46,2023-02-21 00:52:16,0.458,Core,Sujeong의 Apple Watch,2023-02-21 00:24:46,1
1,1,2023-02-21 00:52:16,2023-02-21 00:57:16,0.083,Deep,Sujeong의 Apple Watch,2023-02-21 00:52:16,1
2,2,2023-02-21 00:57:16,2023-02-21 02:03:16,1.100,Core,Sujeong의 Apple Watch,2023-02-21 00:57:16,1
3,3,2023-02-21 02:03:16,2023-02-21 02:28:46,0.425,Deep,Sujeong의 Apple Watch,2023-02-21 02:03:16,1
4,4,2023-02-21 02:28:46,2023-02-21 02:29:16,0.008,Awake,Sujeong의 Apple Watch,2023-02-21 02:28:46,1
...,...,...,...,...,...,...,...,...
1459,16,2023-05-03 06:16:05,2023-05-03 06:44:05,0.467,Core,Sujeong의 Apple Watch,2023-05-03 06:16:05,2
1460,17,2023-05-03 06:44:05,2023-05-03 07:09:05,0.417,REM,Sujeong의 Apple Watch,2023-05-03 06:44:05,2
1461,18,2023-05-03 07:09:05,2023-05-03 07:29:05,0.333,Core,Sujeong의 Apple Watch,2023-05-03 07:09:05,2
1462,19,2023-05-03 07:29:05,2023-05-03 07:30:05,0.017,Awake,Sujeong의 Apple Watch,2023-05-03 07:29:05,2
1463,20,2023-05-03 07:30:05,2023-05-03 07:31:05,0.017,Core,Sujeong의 Apple Watch,2023-05-03 07:30:05,2

In [11]:
# 끝 점 index 정보를 담은 'idx' 변수 생성
idx = data_weekday_end[data_weekday_end['index']==0].index.values[1:]
idx = np.append(idx-1, len(data_weekday_end) - 1)
idx

array([  24,   58,   86,  145,  171,  197,  227,  259,  284,  311,  348,
        374,  393,  435,  463,  487,  508,  554,  582,  596,  623,  644,
        673,  695,  745,  767,  798,  826,  852,  879,  914,  941,  967,
        985, 1015, 1043, 1069, 1107, 1131, 1162, 1189, 1220, 1257, 1288,
       1323, 1347, 1372, 1389, 1427, 1442, 1463])

In [12]:
weekday_end = data_weekday_end.loc[idx]
weekday_end

,index,Start,End,Duration (hr),Value,Source,Sl_start,weekday
24,24,2023-02-21 05:57:16,2023-02-21 05:58:16,0.017,Core,Sujeong의 Apple Watch,2023-02-21 05:57:16,1
58,33,2023-02-22 07:10:17,2023-02-22 07:38:47,0.475,Core,Sujeong의 Apple Watch,2023-02-22 07:10:17,2
86,27,2023-02-23 07:10:23,2023-02-23 07:27:53,0.292,Core,Sujeong의 Apple Watch,2023-02-23 07:10:23,3
145,58,2023-02-24 07:24:10,2023-02-24 07:27:40,0.058,Core,Sujeong의 Apple Watch,2023-02-24 07:24:10,4
171,25,2023-02-27 07:26:42,2023-02-27 07:27:42,0.017,Core,Sujeong의 Apple Watch,2023-02-27 07:26:42,0
197,25,2023-02-28 06:57:19,2023-02-28 06:58:19,0.017,Core,Sujeong의 Apple Watch,2023-02-28 06:57:19,1
227,29,2023-03-01 09:19:14,2023-03-01 10:13:14,0.900,Core,Sujeong의 Apple Watch,2023-03-01 09:19:14,2
259,31,2023-03-02 07:17:47,2023-03-02 07:27:47,0.167,Core,Sujeong의 Apple Watch,2023-03-02 07:17:47,3
284,24,2023-03-03 06:58:43,2023-03-03 07:00:43,0.033,REM,Sujeong의 Apple Watch,2023-03-03 06:58:43,4
311,26,2023-03-06 07:18:05,2023-03-06 07:25:05,0.117,REM,Sujeong의 Apple Watch,2023-03-06 07:18:05,0
348,36,2023-03-07 07:25:34,2023-03-07 07:28:04,0.042,Core,Sujeong의 Apple Watch,2023-03-07 07:25:34,1
374,25,2023-03-08 06:46:18,2023-03-08 06:51:48,0.092,REM,Sujeong의 Apple Watch,2023-03-08 06:46:18,2
393,18,2023-03-09 06:20:34,2023-03-09 07:20:04,0.992,Core,Sujeong의 Apple Watch,2023-03-09 06:20:34,3
435,41,2023-03-10 06:45:59,2023-03-10 07:27:59,0.700,Core,Sujeong의 Apple Watch,2023-03-10 06:45:59,4
463,27,2023-03-13 07:22:36,2023-03-13 07:28:36,0.100,Core,Sujeong의 Apple Watch,2023-03-13 07:22:36,0
487,23,2023-03-14 06:57:54,2023-03-14 07:28:24,0.508,Core,Sujeong의 Apple Watch,2023-03-14 06:57:54,1
508,20,2023-03-15 06:57:28,2023-03-15 07:27:58,0.508,Core,Sujeong의 Apple Watch,2023-03-15 06:57:28,2
554,45,2023-03-16 07:20:47,2023-03-16 07:21:47,0.017,Core,Sujeong의 Apple Watch,2023-03-16 07:20:47,3
582,27,2023-03-17 07:22:34,2023-03-17 07:26:04,0.058,Core,Sujeong의 Apple Watch,2023-03-17 07:22:34,4
596,13,2023-03-20 07:23:35,2023-03-20 07:25:35,0.033,Core,Sujeong의 Apple Watch,2023-03-20 07:23:35,0
623,26,2023-03-22 06:51:04,2023-03-22 07:23:04,0.533,Core,Sujeong의 Apple Watch,2023-03-22 06:51:04,2
644,20,2023-03-23 07:03:03,2023-03-23 07:25:33,0.375,Core,Sujeong의 Apple Watch,2023-03-23 07:03:03,3
673,28,2023-03-24 07:31:04,2023-03-24 07:34:04,0.050,Core,Sujeong의 Apple Watch,2023-03-24 07:31:04,4
695,21,2023-03-27 07:27:09,2023-03-27 07:28:09,0.017,Core,Sujeong의 Apple Watch,2023-03-27 07:27:09,0
745,49,2023-03-28 07:25:08,2023-03-28 07:25:38,0.008,REM,Sujeong의 Apple Watch,2023-03-28 07:25:08,1
767,21,2023-03-29 06:49:35,2023-03-29 07:25:35,0.600,Core,Sujeong의 Apple Watch,2023-03-29 06:49:35,2
798,30,2023-03-30 06:43:11,2023-03-30 07:25:11,0.700,Core,Sujeong의 Apple Watch,2023-03-30 06:43:11,3
826,27,2023-03-31 06:54:24,2023-03-31 07:12:54,0.308,Core,Sujeong의 Apple Watch,2023-03-31 06:54:24,4
852,25,2023-04-03 06:56:17,2023-04-03 07:24:17,0.467,Core,Sujeong의 Apple Watch,2023-04-03 06:56:17,0
879,26,2023-04-04 07:22:41,2023-04-04 07:25:11,0.042,REM,Sujeong의 Apple Watch,2023-04-04 07:22:41,1
914,34,2023-04-05 07:17:06,2023-04-05 07:26:06,0.150,REM,Sujeong의 Apple Watch,2023-04-05 07:17:06,2
941,26,2023-04-06 07:19:04,2023-04-06 07:21:34,0.042,Core,Sujeong의 Apple Watch,2023-04-06 07:19:04,3
967,25,2023-04-07 06:40:52,2023-04-07 07:25:22,0.742,Core,Sujeong의 Apple Watch,2023-04-07 06:40:52,4
985,17,2023-04-10 07:21:35,2023-04-10 07:25:35,0.067,Core,Sujeong의 Apple Watch,2023-04-10 07:21:35,0
1015,29,2023-04-11 07:03:34,2023-04-11 07:25:34,0.367,Core,Sujeong의 Apple Watch,2023-04-11 07:03:34,1
1043,27,2023-04-12 07:00:46,2023-04-12 07:12:16,0.192,REM,Sujeong의 Apple Watch,2023-04-12 07:00:46,2
1069,25,2023-04-13 07:26:30,2023-04-13 07:27:30,0.017,Core,Sujeong의 Apple Watch,2023-04-13 07:26:30,3
1107,37,2023-04-14 07:02:01,2023-04-14 07:25:31,0.392,Core,Sujeong의 Apple Watch,2023-04-14 07:02:01,4
1131,23,2023-04-17 07:21:37,2023-04-17 07:25:37,0.067,REM,Sujeong의 Apple Watch,2023-04-17 07:21:37,0
1162,30,2023-04-18 07:19:40,2023-04-18 07:25:40,0.100,REM,Sujeong의 Apple Watch,2023-04-18 07:19:40,1
1189,26,2023-04-19 07:17:41,2023-04-19 07:28:41,0.183,Core,Sujeong의 Apple Watch,2023-04-19 07:17:41,2
1220,30,2023-04-20 06:29:35,2023-04-20 07:23:05,0.892,Core,Sujeong의 Apple Watch,2023-04-20 06:29:35,3
1257,36,2023-04-21 07:27:08,2023-04-21 07:28:08,0.017,Core,Sujeong의 Apple Watch,2023-04-21 07:27:08,4
1288,30,2023-04-24 07:07:14,2023-04-24 07:32:44,0.425,Core,Sujeong의 Apple Watch,2023-04-24 07:07:14,0
1323,34,2023-04-25 07:24:49,2023-04-25 07:26:19,0.025,REM,Sujeong의 Apple Watch,2023-04-25 07:24:49,1
1347,23,2023-04-26 07:16:44,2023-04-26 07:25:44,0.150,Core,Sujeong의 Apple Watch,2023-04-26 07:16:44,2
1372,24,2023-04-27 07:19:34,2023-04-27 07:22:34,0.050,REM,Sujeong의 Apple Watch,2023-04-27 07:19:34,3
1389,16,2023-04-28 07:20:20,2023-04-28 07:25:20,0.083,Core,Sujeong의 Apple Watch,2023-04-28 07:20:20,4
1427,37,2023-05-01 10:57:26,2023-05-01 11:29:26,0.533,Core,Sujeong의 Apple Watch,2023-05-01 10:57:26,0
1442,14,2023-05-02 06:54:46,2023-05-02 07:30:16,0.592,Core,Sujeong의 Apple Watch,2023-05-02 06:54:46,1
1463,20,2023-05-03 07:30:05,2023-05-03 07:31:05,0.017,Core,Sujeong의 Apple Watch,2023-05-03 07:30:05,2

In [13]:
# 시/분/초 정보를 담은 열 생성
#slend = sleep_end

weekday_end['Sl_end'] = pd.to_datetime(weekday_end['End'], format='%Y-%m-%d %H:%M:%S', errors='raise')
weekday_end['slend_time']  = weekday_end['Sl_end'].dt.time         # HH:MM:SS(문자)
weekday_end['slend_hour']  = weekday_end['Sl_end'].dt.hour         # 시(숫자)
weekday_end['slend_minute'] = weekday_end['Sl_end'].dt.minute       # 분(숫자)
weekday_end['slend_second'] = weekday_end['Sl_end'].dt.second       # 초(숫자)

weekday_end

,index,Start,End,Duration (hr),Value,Source,Sl_start,weekday,Sl_end,slend_time,slend_hour,slend_minute,slend_second
24,24,2023-02-21 05:57:16,2023-02-21 05:58:16,0.017,Core,Sujeong의 Apple Watch,2023-02-21 05:57:16,1,2023-02-21 05:58:16,05:58:16,5,58,16
58,33,2023-02-22 07:10:17,2023-02-22 07:38:47,0.475,Core,Sujeong의 Apple Watch,2023-02-22 07:10:17,2,2023-02-22 07:38:47,07:38:47,7,38,47
86,27,2023-02-23 07:10:23,2023-02-23 07:27:53,0.292,Core,Sujeong의 Apple Watch,2023-02-23 07:10:23,3,2023-02-23 07:27:53,07:27:53,7,27,53
145,58,2023-02-24 07:24:10,2023-02-24 07:27:40,0.058,Core,Sujeong의 Apple Watch,2023-02-24 07:24:10,4,2023-02-24 07:27:40,07:27:40,7,27,40
171,25,2023-02-27 07:26:42,2023-02-27 07:27:42,0.017,Core,Sujeong의 Apple Watch,2023-02-27 07:26:42,0,2023-02-27 07:27:42,07:27:42,7,27,42
197,25,2023-02-28 06:57:19,2023-02-28 06:58:19,0.017,Core,Sujeong의 Apple Watch,2023-02-28 06:57:19,1,2023-02-28 06:58:19,06:58:19,6,58,19
227,29,2023-03-01 09:19:14,2023-03-01 10:13:14,0.900,Core,Sujeong의 Apple Watch,2023-03-01 09:19:14,2,2023-03-01 10:13:14,10:13:14,10,13,14
259,31,2023-03-02 07:17:47,2023-03-02 07:27:47,0.167,Core,Sujeong의 Apple Watch,2023-03-02 07:17:47,3,2023-03-02 07:27:47,07:27:47,7,27,47
284,24,2023-03-03 06:58:43,2023-03-03 07:00:43,0.033,REM,Sujeong의 Apple Watch,2023-03-03 06:58:43,4,2023-03-03 07:00:43,07:00:43,7,0,43
311,26,2023-03-06 07:18:05,2023-03-06 07:25:05,0.117,REM,Sujeong의 Apple Watch,2023-03-06 07:18:05,0,2023-03-06 07:25:05,07:25:05,7,25,5
348,36,2023-03-07 07:25:34,2023-03-07 07:28:04,0.042,Core,Sujeong의 Apple Watch,2023-03-07 07:25:34,1,2023-03-07 07:28:04,07:28:04,7,28,4
374,25,2023-03-08 06:46:18,2023-03-08 06:51:48,0.092,REM,Sujeong의 Apple Watch,2023-03-08 06:46:18,2,2023-03-08 06:51:48,06:51:48,6,51,48
393,18,2023-03-09 06:20:34,2023-03-09 07:20:04,0.992,Core,Sujeong의 Apple Watch,2023-03-09 06:20:34,3,2023-03-09 07:20:04,07:20:04,7,20,4
435,41,2023-03-10 06:45:59,2023-03-10 07:27:59,0.700,Core,Sujeong의 Apple Watch,2023-03-10 06:45:59,4,2023-03-10 07:27:59,07:27:59,7,27,59
463,27,2023-03-13 07:22:36,2023-03-13 07:28:36,0.100,Core,Sujeong의 Apple Watch,2023-03-13 07:22:36,0,2023-03-13 07:28:36,07:28:36,7,28,36
487,23,2023-03-14 06:57:54,2023-03-14 07:28:24,0.508,Core,Sujeong의 Apple Watch,2023-03-14 06:57:54,1,2023-03-14 07:28:24,07:28:24,7,28,24
508,20,2023-03-15 06:57:28,2023-03-15 07:27:58,0.508,Core,Sujeong의 Apple Watch,2023-03-15 06:57:28,2,2023-03-15 07:27:58,07:27:58,7,27,58
554,45,2023-03-16 07:20:47,2023-03-16 07:21:47,0.017,Core,Sujeong의 Apple Watch,2023-03-16 07:20:47,3,2023-03-16 07:21:47,07:21:47,7,21,47
582,27,2023-03-17 07:22:34,2023-03-17 07:26:04,0.058,Core,Sujeong의 Apple Watch,2023-03-17 07:22:34,4,2023-03-17 07:26:04,07:26:04,7,26,4
596,13,2023-03-20 07:23:35,2023-03-20 07:25:35,0.033,Core,Sujeong의 Apple Watch,2023-03-20 07:23:35,0,2023-03-20 07:25:35,07:25:35,7,25,35
623,26,2023-03-22 06:51:04,2023-03-22 07:23:04,0.533,Core,Sujeong의 Apple Watch,2023-03-22 06:51:04,2,2023-03-22 07:23:04,07:23:04,7,23,4
644,20,2023-03-23 07:03:03,2023-03-23 07:25:33,0.375,Core,Sujeong의 Apple Watch,2023-03-23 07:03:03,3,2023-03-23 07:25:33,07:25:33,7,25,33
673,28,2023-03-24 07:31:04,2023-03-24 07:34:04,0.050,Core,Sujeong의 Apple Watch,2023-03-24 07:31:04,4,2023-03-24 07:34:04,07:34:04,7,34,4
695,21,2023-03-27 07:27:09,2023-03-27 07:28:09,0.017,Core,Sujeong의 Apple Watch,2023-03-27 07:27:09,0,2023-03-27 07:28:09,07:28:09,7,28,9
745,49,2023-03-28 07:25:08,2023-03-28 07:25:38,0.008,REM,Sujeong의 Apple Watch,2023-03-28 07:25:08,1,2023-03-28 07:25:38,07:25:38,7,25,38
767,21,2023-03-29 06:49:35,2023-03-29 07:25:35,0.600,Core,Sujeong의 Apple Watch,2023-03-29 06:49:35,2,2023-03-29 07:25:35,07:25:35,7,25,35
798,30,2023-03-30 06:43:11,2023-03-30 07:25:11,0.700,Core,Sujeong의 Apple Watch,2023-03-30 06:43:11,3,2023-03-30 07:25:11,07:25:11,7,25,11
826,27,2023-03-31 06:54:24,2023-03-31 07:12:54,0.308,Core,Sujeong의 Apple Watch,2023-03-31 06:54:24,4,2023-03-31 07:12:54,07:12:54,7,12,54
852,25,2023-04-03 06:56:17,2023-04-03 07:24:17,0.467,Core,Sujeong의 Apple Watch,2023-04-03 06:56:17,0,2023-04-03 07:24:17,07:24:17,7,24,17
879,26,2023-04-04 07:22:41,2023-04-04 07:25:11,0.042,REM,Sujeong의 Apple Watch,2023-04-04 07:22:41,1,2023-04-04 07:25:11,07:25:11,7,25,11
914,34,2023-04-05 07:17:06,2023-04-05 07:26:06,0.150,REM,Sujeong의 Apple Watch,2023-04-05 07:17:06,2,2023-04-05 07:26:06,07:26:06,7,26,6
941,26,2023-04-06 07:19:04,2023-04-06 07:21:34,0.042,Core,Sujeong의 Apple Watch,2023-04-06 07:19:04,3,2023-04-06 07:21:34,07:21:34,7,21,34
967,25,2023-04-07 06:40:52,2023-04-07 07:25:22,0.742,Core,Sujeong의 Apple Watch,2023-04-07 06:40:52,4,2023-04-07 07:25:22,07:25:22,7,25,22
985,17,2023-04-10 07:21:35,2023-04-10 07:25:35,0.067,Core,Sujeong의 Apple Watch,2023-04-10 07:21:35,0,2023-04-10 07:25:35,07:25:35,7,25,35
1015,29,2023-04-11 07:03:34,2023-04-11 07:25:34,0.367,Core,Sujeong의 Apple Watch,2023-04-11 07:03:34,1,2023-04-11 07:25:34,07:25:34,7,25,34
1043,27,2023-04-12 07:00:46,2023-04-12 07:12:16,0.192,REM,Sujeong의 Apple Watch,2023-04-12 07:00:46,2,2023-04-12 07:12:16,07:12:16,7,12,16
1069,25,2023-04-13 07:26:30,2023-04-13 07:27:30,0.017,Core,Sujeong의 Apple Watch,2023-04-13 07:26:30,3,2023-04-13 07:27:30,07:27:30,7,27,30
1107,37,2023-04-14 07:02:01,2023-04-14 07:25:31,0.392,Core,Sujeong의 Apple Watch,2023-04-14 07:02:01,4,2023-04-14 07:25:31,07:25:31,7,25,31
1131,23,2023-04-17 07:21:37,2023-04-17 07:25:37,0.067,REM,Sujeong의 Apple Watch,2023-04-17 07:21:37,0,2023-04-17 07:25:37,07:25:37,7,25,37
1162,30,2023-04-18 07:19:40,2023-04-18 07:25:40,0.100,REM,Sujeong의 Apple Watch,2023-04-18 07:19:40,1,2023-04-18 07:25:40,07:25:40,7,25,40
1189,26,2023-04-19 07:17:41,2023-04-19 07:28:41,0.183,Core,Sujeong의 Apple Watch,2023-04-19 07:17:41,2,2023-04-19 07:28:41,07:28:41,7,28,41
1220,30,2023-04-20 06:29:35,2023-04-20 07:23:05,0.892,Core,Sujeong의 Apple Watch,2023-04-20 06:29:35,3,2023-04-20 07:23:05,07:23:05,7,23,5
1257,36,2023-04-21 07:27:08,2023-04-21 07:28:08,0.017,Core,Sujeong의 Apple Watch,2023-04-21 07:27:08,4,2023-04-21 07:28:08,07:28:08,7,28,8
1288,30,2023-04-24 07:07:14,2023-04-24 07:32:44,0.425,Core,Sujeong의 Apple Watch,2023-04-24 07:07:14,0,2023-04-24 07:32:44,07:32:44,7,32,44
1323,34,2023-04-25 07:24:49,2023-04-25 07:26:19,0.025,REM,Sujeong의 Apple Watch,2023-04-25 07:24:49,1,2023-04-25 07:26:19,07:26:19,7,26,19
1347,23,2023-04-26 07:16:44,2023-04-26 07:25:44,0.150,Core,Sujeong의 Apple Watch,2023-04-26 07:16:44,2,2023-04-26 07:25:44,07:25:44,7,25,44
1372,24,2023-04-27 07:19:34,2023-04-27 07:22:34,0.050,REM,Sujeong의 Apple Watch,2023-04-27 07:19:34,3,2023-04-27 07:22:34,07:22:34,7,22,34
1389,16,2023-04-28 07:20:20,2023-04-28 07:25:20,0.083,Core,Sujeong의 Apple Watch,2023-04-28 07:20:20,4,2023-04-28 07:25:20,07:25:20,7,25,20
1427,37,2023-05-01 10:57:26,2023-05-01 11:29:26,0.533,Core,Sujeong의 Apple Watch,2023-05-01 10:57:26,0,2023-05-01 11:29:26,11:29:26,11,29,26
1442,14,2023-05-02 06:54:46,2023-05-02 07:30:16,0.592,Core,Sujeong의 Apple Watch,2023-05-02 06:54:46,1,2023-05-02 07:30:16,07:30:16,7,30,16
1463,20,2023-05-03 07:30:05,2023-05-03 07:31:05,0.017,Core,Sujeong의 Apple Watch,2023-05-03 07:30:05,2,2023-05-03 07:31:05,07:31:05,7,31,5

In [14]:
weekday_end['slend_hour'].value_counts()

7     46
6      2
5      1
10     1
11     1
Name: slend_hour, dtype: int64

In [15]:
weekday_end[weekday_end['slend_hour']==7]["slend_minute"].value_counts()   
# 분까지 고려했을 때 7시 25분이 최빈값

25    15
27     7
28     6
26     3
21     2
23     2
12     2
38     1
0      1
20     1
34     1
24     1
32     1
22     1
30     1
31     1
Name: slend_minute, dtype: int64

# 7시 25분이 기상시간 최빈값임을 확인함
# 7시 25분을 기준으로 잡고 30초 간격으로 설정

In [16]:
weekday_onehot = data_weekday.reset_index()
weekday_onehot.head()

,index,Start,End,Duration (hr),Value,Source,Sl_start,weekday
0,0,2023-02-21 00:24:46,2023-02-21 00:52:16,0.458,Core,Sujeong의 Apple Watch,2023-02-21 00:24:46,1
1,1,2023-02-21 00:52:16,2023-02-21 00:57:16,0.083,Deep,Sujeong의 Apple Watch,2023-02-21 00:52:16,1
2,2,2023-02-21 00:57:16,2023-02-21 02:03:16,1.100,Core,Sujeong의 Apple Watch,2023-02-21 00:57:16,1
3,3,2023-02-21 02:03:16,2023-02-21 02:28:46,0.425,Deep,Sujeong의 Apple Watch,2023-02-21 02:03:16,1
4,4,2023-02-21 02:28:46,2023-02-21 02:29:16,0.008,Awake,Sujeong의 Apple Watch,2023-02-21 02:28:46,1

In [17]:
weekday_onehot['Value'].value_counts()

Core     682
Awake    326
REM      310
Deep     146
Name: Value, dtype: int64

In [18]:
# "Source" 열의 데이터를 레이블링 해줌.

weekday_onehot['Value']= weekday_onehot['Value'].replace('Deep',0)
weekday_onehot['Value']= weekday_onehot['Value'].replace('Core',1)
weekday_onehot['Value']= weekday_onehot['Value'].replace('REM',0)
weekday_onehot['Value']= weekday_onehot['Value'].replace('Awake',0)

weekday_onehot['Value'].value_counts()

0    782
1    682
Name: Value, dtype: int64

In [19]:
#slst = sleep_start

weekday_onehot['Sl_end'] = pd.to_datetime(weekday_onehot['End'], format='%Y-%m-%d %H:%M:%S', errors='raise')
weekday_onehot['slend_time']  = weekday_onehot['Sl_end'].dt.time         # HH:MM:SS(문자)

weekday_onehot.head()

,index,Start,End,Duration (hr),Value,Source,Sl_start,weekday,Sl_end,slend_time
0,0,2023-02-21 00:24:46,2023-02-21 00:52:16,0.458,1,Sujeong의 Apple Watch,2023-02-21 00:24:46,1,2023-02-21 00:52:16,00:52:16
1,1,2023-02-21 00:52:16,2023-02-21 00:57:16,0.083,0,Sujeong의 Apple Watch,2023-02-21 00:52:16,1,2023-02-21 00:57:16,00:57:16
2,2,2023-02-21 00:57:16,2023-02-21 02:03:16,1.100,1,Sujeong의 Apple Watch,2023-02-21 00:57:16,1,2023-02-21 02:03:16,02:03:16
3,3,2023-02-21 02:03:16,2023-02-21 02:28:46,0.425,0,Sujeong의 Apple Watch,2023-02-21 02:03:16,1,2023-02-21 02:28:46,02:28:46
4,4,2023-02-21 02:28:46,2023-02-21 02:29:16,0.008,0,Sujeong의 Apple Watch,2023-02-21 02:28:46,1,2023-02-21 02:29:16,02:29:16

In [20]:
weekday_onehot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1464 entries, 0 to 1463
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          1464 non-null   int64
 1   Start          1464 non-null   object
 2   End            1464 non-null   object
 3   Duration (hr)  1464 non-null   float64
 4   Value          1464 non-null   int64
 5   Source         1464 non-null   object
 6   Sl_start       1464 non-null   object
 7   weekday        1464 non-null   int64
 8   Sl_end         1464 non-null   datetime64[ns]
 9   slend_time     1464 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 114.5+ KB

# 동일 간격으로 시간 전처리

## 7시 25분이 기상시간을 분까지 봤을 때 최빈값이었으므로
## 취침시간을 00:00:00 부터(가장 빠른 기상시간으로 할지 논의 필요. 우선 계산이 가장 쉬울 것 같은 00시로 시도해봄)  7시 25분으로 시도. 간격은 1분
## threshold를 넘는 기상 시간은 자르고(?)/옮기고 threshold 이전 기상 시간은 미룬다.

In [21]:
idx

array([  24,   58,   86,  145,  171,  197,  227,  259,  284,  311,  348,
        374,  393,  435,  463,  487,  508,  554,  582,  596,  623,  644,
        673,  695,  745,  767,  798,  826,  852,  879,  914,  941,  967,
        985, 1015, 1043, 1069, 1107, 1131, 1162, 1189, 1220, 1257, 1288,
       1323, 1347, 1372, 1389, 1427, 1442, 1463])

In [26]:
# 날짜마다 00시부터 7시 25분까지 30초씩 증가하는 리스트를 만들기 위해 날짜 정보를 담은 end_date 변수 생성
end = weekday_onehot.loc[idx,'Sl_end']
end_date = end.dt.date

df1 = pd.DataFrame(data=end_date.index, columns=['index'])
df2 = pd.DataFrame(data=end_date.values, columns=['date'])
end_date = pd.merge(df1, df2, left_index=True, right_index=True)
end_date

    index        date
0      24  2023-02-21
1      58  2023-02-22
2      86  2023-02-23
3     145  2023-02-24
4     171  2023-02-27
5     197  2023-02-28
6     227  2023-03-01
7     259  2023-03-02
8     284  2023-03-03
9     311  2023-03-06
10    348  2023-03-07
11    374  2023-03-08
12    393  2023-03-09
13    435  2023-03-10
14    463  2023-03-13
15    487  2023-03-14
16    508  2023-03-15
17    554  2023-03-16
18    582  2023-03-17
19    596  2023-03-20
20    623  2023-03-22
21    644  2023-03-23
22    673  2023-03-24
23    695  2023-03-27
24    745  2023-03-28
25    767  2023-03-29
26    798  2023-03-30
27    826  2023-03-31
28    852  2023-04-03
29    879  2023-04-04
30    914  2023-04-05
31    941  2023-04-06
32    967  2023-04-07
33    985  2023-04-10
34   1015  2023-04-11
35   1043  2023-04-12
36   1069  2023-04-13
37   1107  2023-04-14
38   1131  2023-04-17
39   1162  2023-04-18
40   1189  2023-04-19
41   1220  2023-04-20
42   1257  2023-04-21
43   1288  2023-04-24
44   1323  2023-04-25
45   1347  2023-04-26
46   1372  2023-04-27
47   1389  2023-04-28
48   1427  2023-05-01
49   1442  2023-05-02
50   1463  2023-05-03

In [ ]:
# 날짜마다 00시부터 7시 25분까지 30초씩 증가하는 리스트를 만들기 위해 시작 날짜와 00시 정보를 담은 'start_date_list'를 생성
import datetime

start_date_list = []
for i in range(len(idx)):
  dt = end_date.iloc[i,1].strftime('%Y-%m-%d')
  tm = " 00:00:00"
  
  start_date_list.append(dt + tm)

start_date_list

In [ ]:
# 날짜마다 00시부터 7시 17분까지 30초씩 증가하는 리스트를 만들기 위해 날짜와 7시17분 정보를 담은 'end_date_list'를 생성
import datetime

end_date_list = []
for i in range(len(idx)):
  dt = end_date.iloc[i,1].strftime('%Y-%m-%d')
  tm = " 07:25:00"
  
  end_date_list.append(dt + tm)

end_date_list

In [90]:
# 1분 간격으로 데이터를 보기로 했으므로 1분씩 증가시키는 시간 리스트 만듦.
# 날짜마다 00시부터 7시 17분까지 1분씩 증가하는 리스트인 'time_list' 변수 생성
import datetime

time_list = []
for i in range(len(idx)):
  start = start_date_list[i]
  start = pd.to_datetime(start, format='%Y-%m-%d %H:%M:%S', errors='raise')
  end = end_date_list[i]
  end = pd.to_datetime(end, format='%Y-%m-%d %H:%M:%S', errors='raise')

  duration = end - start  

  k = duration.seconds // 60   # 60초 간격의 시간 몇 개로 만들어야 하는지. 몫.

  # 30초씩 증가시켜서 시간 리스트 만들기.
  time_list.append(start)
  for i in range(k):
    later = start + datetime.timedelta(minutes=1)
    time_list.append(later)
    start = later

time_list[:10]

[Timestamp('2023-02-21 00:00:00'),
 Timestamp('2023-02-21 00:01:00'),
 Timestamp('2023-02-21 00:02:00'),
 Timestamp('2023-02-21 00:03:00'),
 Timestamp('2023-02-21 00:04:00'),
 Timestamp('2023-02-21 00:05:00'),
 Timestamp('2023-02-21 00:06:00'),
 Timestamp('2023-02-21 00:07:00'),
 Timestamp('2023-02-21 00:08:00'),
 Timestamp('2023-02-21 00:09:00')]

In [88]:
start = start_date_list[0]
start = pd.to_datetime(start, format='%Y-%m-%d %H:%M:%S', errors='raise')
end = end_date_list[0]
end = pd.to_datetime(end, format='%Y-%m-%d %H:%M:%S', errors='raise')

duration = end - start  

k = duration.seconds // 60
k

445

In [91]:
time_list[440:450] # 리스트가 잘 생성되었음을 확인할 수 있음.

[Timestamp('2023-02-21 07:20:00'),
 Timestamp('2023-02-21 07:21:00'),
 Timestamp('2023-02-21 07:22:00'),
 Timestamp('2023-02-21 07:23:00'),
 Timestamp('2023-02-21 07:24:00'),
 Timestamp('2023-02-21 07:25:00'),
 Timestamp('2023-02-22 00:00:00'),
 Timestamp('2023-02-22 00:01:00'),
 Timestamp('2023-02-22 00:02:00'),
 Timestamp('2023-02-22 00:03:00')]

In [92]:
len(time_list) % k   # 51일이므로 리스트가 잘 만들어졌음을 확인할 수 있음.

51

In [93]:
# 00시부터 7시 25분까지 Value 정보를 할당할 df를 생성함.
# 1(Core)로 채워진 df 만들기.
myArr = np.ones(len(time_list))
target = pd.DataFrame(columns = time_list)
target.loc[0]= myArr
target

,2023-02-21 00:00:00,2023-02-21 00:01:00,2023-02-21 00:02:00,2023-02-21 00:03:00,2023-02-21 00:04:00,2023-02-21 00:05:00,2023-02-21 00:06:00,2023-02-21 00:07:00,2023-02-21 00:08:00,2023-02-21 00:09:00,...,2023-05-03 07:16:00,2023-05-03 07:17:00,2023-05-03 07:18:00,2023-05-03 07:19:00,2023-05-03 07:20:00,2023-05-03 07:21:00,2023-05-03 07:22:00,2023-05-03 07:23:00,2023-05-03 07:24:00,2023-05-03 07:25:00
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [94]:
# 범위에 해당하는 'Value'값을 할당해주기 위해
# 일자별로 분리하기 위한 test 코드.
weekday_onehot['Sl_start'] = pd.to_datetime(weekday_onehot['Sl_start'], format='%Y-%m-%d %H:%M:%S', errors='raise')
onehot_idx = np.append(-1, weekday_end.index.values) 
df = weekday_onehot.loc[(onehot_idx[0]+1):onehot_idx[1]]
df

,index,Start,End,Duration (hr),Value,Source,Sl_start,weekday,Sl_end,slend_time
0,0,2023-02-21 00:24:46,2023-02-21 00:52:16,0.458,1,Sujeong의 Apple Watch,2023-02-21 00:24:46,1,2023-02-21 00:52:16,00:52:16
1,1,2023-02-21 00:52:16,2023-02-21 00:57:16,0.083,0,Sujeong의 Apple Watch,2023-02-21 00:52:16,1,2023-02-21 00:57:16,00:57:16
2,2,2023-02-21 00:57:16,2023-02-21 02:03:16,1.100,1,Sujeong의 Apple Watch,2023-02-21 00:57:16,1,2023-02-21 02:03:16,02:03:16
3,3,2023-02-21 02:03:16,2023-02-21 02:28:46,0.425,0,Sujeong의 Apple Watch,2023-02-21 02:03:16,1,2023-02-21 02:28:46,02:28:46
4,4,2023-02-21 02:28:46,2023-02-21 02:29:16,0.008,0,Sujeong의 Apple Watch,2023-02-21 02:28:46,1,2023-02-21 02:29:16,02:29:16
5,5,2023-02-21 02:29:16,2023-02-21 02:58:16,0.483,1,Sujeong의 Apple Watch,2023-02-21 02:29:16,1,2023-02-21 02:58:16,02:58:16
6,6,2023-02-21 02:58:16,2023-02-21 03:14:46,0.275,0,Sujeong의 Apple Watch,2023-02-21 02:58:16,1,2023-02-21 03:14:46,03:14:46
7,7,2023-02-21 03:14:46,2023-02-21 03:15:46,0.017,0,Sujeong의 Apple Watch,2023-02-21 03:14:46,1,2023-02-21 03:15:46,03:15:46
8,8,2023-02-21 03:15:46,2023-02-21 04:19:16,1.060,1,Sujeong의 Apple Watch,2023-02-21 03:15:46,1,2023-02-21 04:19:16,04:19:16
9,9,2023-02-21 04:19:16,2023-02-21 04:20:16,0.017,0,Sujeong의 Apple Watch,2023-02-21 04:19:16,1,2023-02-21 04:20:16,04:20:16
10,10,2023-02-21 04:20:16,2023-02-21 04:55:46,0.592,1,Sujeong의 Apple Watch,2023-02-21 04:20:16,1,2023-02-21 04:55:46,04:55:46
11,11,2023-02-21 04:55:46,2023-02-21 04:58:16,0.042,0,Sujeong의 Apple Watch,2023-02-21 04:55:46,1,2023-02-21 04:58:16,04:58:16
12,12,2023-02-21 04:58:16,2023-02-21 04:59:16,0.017,0,Sujeong의 Apple Watch,2023-02-21 04:58:16,1,2023-02-21 04:59:16,04:59:16
13,13,2023-02-21 04:59:16,2023-02-21 05:00:16,0.017,1,Sujeong의 Apple Watch,2023-02-21 04:59:16,1,2023-02-21 05:00:16,05:00:16
14,14,2023-02-21 05:00:16,2023-02-21 05:07:16,0.117,0,Sujeong의 Apple Watch,2023-02-21 05:00:16,1,2023-02-21 05:07:16,05:07:16
15,15,2023-02-21 05:07:16,2023-02-21 05:08:46,0.025,0,Sujeong의 Apple Watch,2023-02-21 05:07:16,1,2023-02-21 05:08:46,05:08:46
16,16,2023-02-21 05:08:46,2023-02-21 05:09:16,0.008,1,Sujeong의 Apple Watch,2023-02-21 05:08:46,1,2023-02-21 05:09:16,05:09:16
17,17,2023-02-21 05:09:16,2023-02-21 05:14:46,0.092,0,Sujeong의 Apple Watch,2023-02-21 05:09:16,1,2023-02-21 05:14:46,05:14:46
18,18,2023-02-21 05:14:46,2023-02-21 05:18:16,0.058,1,Sujeong의 Apple Watch,2023-02-21 05:14:46,1,2023-02-21 05:18:16,05:18:16
19,19,2023-02-21 05:18:16,2023-02-21 05:20:46,0.042,0,Sujeong의 Apple Watch,2023-02-21 05:18:16,1,2023-02-21 05:20:46,05:20:46
20,20,2023-02-21 05:20:46,2023-02-21 05:21:16,0.008,1,Sujeong의 Apple Watch,2023-02-21 05:20:46,1,2023-02-21 05:21:16,05:21:16
21,21,2023-02-21 05:21:16,2023-02-21 05:22:16,0.017,0,Sujeong의 Apple Watch,2023-02-21 05:21:16,1,2023-02-21 05:22:16,05:22:16
22,22,2023-02-21 05:22:16,2023-02-21 05:54:46,0.542,1,Sujeong의 Apple Watch,2023-02-21 05:22:16,1,2023-02-21 05:54:46,05:54:46
23,23,2023-02-21 05:54:46,2023-02-21 05:57:16,0.042,0,Sujeong의 Apple Watch,2023-02-21 05:54:46,1,2023-02-21 05:57:16,05:57:16
24,24,2023-02-21 05:57:16,2023-02-21 05:58:16,0.017,1,Sujeong의 Apple Watch,2023-02-21 05:57:16,1,2023-02-21 05:58:16,05:58:16

# Value가 0인 경우의 시간을 뽑아서 해당 기간 duration을 구하고 그만큼 반복하게 시켜보고자 함.

In [160]:
# "target" 데이터프레임에 해당 시간대에 Core가 아닌값을 0으로 채워준다.
# target 데이터프레임에 Value를 할당해주기 위해 사용되는 인덱스 정보인 onehot_idx 변수 생성.
onehot_idx = np.append(-1, weekday_end.index.values)  

k = 1
t = 446 * (k-1)  # 60분 간격으로 00시부터 7시 25분까지 나눴을 때 446개의 list가 만들어짐.
  
for i in range(len(onehot_idx) - 1):  # 51일 데이터에 따라 51번 반복됨.
  df = weekday_onehot.loc[(onehot_idx[i]+1):onehot_idx[i]]  # 일 별 데이터프레임이 할당되는 df 변수.
  ncore_idx = df[df['Value'] == 0]['index'].values  # Value == 0인 행 인덱스 값 (array 형태)
  
  # 00:00:00이 넘는 시간부터 적용하기 위함.
  r = 0  # 행 인덱스
  # 'Sl_start' 또는 'Sl_end' 가 00시 이후인 행의 정보를 저장한 변수 "r"
  while (df.loc[ncore_idx[r],'Sl_start'] < time_list[t]) | (df.loc[ncore_idx[r],'Sl_end'] < time_list[t]):
    r += 1

  row_num = r
  # 'Sl_start'가 00시 이전이고 'Sl_end'가 00시 이후인 경우를 고려하기 위한 if문
  if (df.loc[ncore_idx[row_num],'Sl_start'] > time_list[t]):
    # target 데이터프레임에 값 할당하기
    for j in range(row_num,len(ncore_idx)):
      row_index = ncore_idx[j]
      # 00시 이후의 시간의 hour
      hour = int(str(df.loc[row_index,'Sl_start'])[11:13])
      minute = int(str(df.loc[row_index,'Sl_start'])[14:16])
      time = t + hour*60 + minute
      duration = df.loc[row_index,'Sl_end'] - df.loc[row_index,'Sl_start']
      rep_time = duration.seconds // 60
      target.iloc[:,time:(time+rep_time + 1)] = 0
  else:  # 'Sl_start'가 00시 이전이고 'Sl_end'가 00시 이후인 경우
    # target 데이터프레임에 값 할당하기
    hour = 0 
    minute = 0
    duration = df.loc[ncore_idx[row_num],'Sl_end'] - time_list[t]
    for j in range(row_num,len(ncore_idx)):
      row_index = ncore_idx[j]
      time = t + hour*60 + minute
      rep_time = duration.seconds // 60
      target.iloc[:,time:(time+rep_time + 1)] = 0
      # 00시 이후의 시간의 hour
      hour = int(str(df.loc[row_index,'Sl_start'])[11:13])
      minute = int(str(df.loc[row_index,'Sl_start'])[14:16])
      duration = df.loc[row_index,'Sl_end'] - df.loc[row_index,'Sl_start']
  k += 1

IndexError: ignored

# 코드 try

In [158]:
duration = df.loc[ncore_idx[0],'Sl_end'] - time_list[0]
duration

Timedelta('0 days 00:57:16')

In [159]:
df.loc[ncore_idx[0],'Sl_end']

Timestamp('2023-02-21 00:57:16')

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          25 non-null     int64
 1   Start          25 non-null     object
 2   End            25 non-null     object
 3   Duration (hr)  25 non-null     float64
 4   Value          25 non-null     int64
 5   Source         25 non-null     object
 6   Sl_start       25 non-null     datetime64[ns]
 7   weekday        25 non-null     int64
 8   Sl_end         25 non-null     datetime64[ns]
 9   slend_time     25 non-null     object
dtypes: datetime64[ns](2), float64(1), int64(3), object(4)
memory usage: 2.1+ KB

In [96]:
str(df.loc[0,'Sl_start'])

'2023-02-21 00:24:46'

In [124]:
str(df.loc[0,'Sl_start'])[11:13]

'00'

In [123]:
str(df.loc[0,'Sl_start'])[14:16]

24

In [99]:
df.shape

(25, 10)

In [105]:
ncore_idx = df[df['Value'] == 0]['index'].values
ncore_idx[0]

1

In [ ]:
while (df.loc[ncore_idx[0],'Sl_start']) > time_list[0]

In [115]:
k = 1
t = 446 * (k-1)
df.loc[ncore_idx[0],'Sl_start'] > time_list[t]

True

In [119]:
k = 1
t = 446 * (k-1)  # 60분 간격으로 00시부터 7시 25분까지 나눴을 때 446개의 list가 만들어짐.
i = 0
while (df.loc[ncore_idx[i],'Sl_start'] < time_list[t]) | (df.loc[ncore_idx[i],'Sl_end'] < time_list[t]):
  k += 1
  i += 1
  print(i)

In [143]:
i = 0
duration = df.loc[i,'Sl_end'] - df.loc[i,'Sl_start']
print(duration, duration.seconds)

0 days 00:27:30 1650

In [146]:
duration.seconds // 60

27

In [151]:
k = 1
t = 446 * (k-1)
hour = 1
minute = 52
time = t + hour*60 + minute
rep_time = 3
a = time_list[time:(time+rep_time + 1)]
a[-1] - a[0]

Timedelta('0 days 00:03:00')

In [116]:
df.loc[ncore_idx[0],'Sl_start']

Timestamp('2023-02-21 00:52:16')

In [117]:
df.head()

,index,Start,End,Duration (hr),Value,Source,Sl_start,weekday,Sl_end,slend_time
0,0,2023-02-21 00:24:46,2023-02-21 00:52:16,0.458,1,Sujeong의 Apple Watch,2023-02-21 00:24:46,1,2023-02-21 00:52:16,00:52:16
1,1,2023-02-21 00:52:16,2023-02-21 00:57:16,0.083,0,Sujeong의 Apple Watch,2023-02-21 00:52:16,1,2023-02-21 00:57:16,00:57:16
2,2,2023-02-21 00:57:16,2023-02-21 02:03:16,1.100,1,Sujeong의 Apple Watch,2023-02-21 00:57:16,1,2023-02-21 02:03:16,02:03:16
3,3,2023-02-21 02:03:16,2023-02-21 02:28:46,0.425,0,Sujeong의 Apple Watch,2023-02-21 02:03:16,1,2023-02-21 02:28:46,02:28:46
4,4,2023-02-21 02:28:46,2023-02-21 02:29:16,0.008,0,Sujeong의 Apple Watch,2023-02-21 02:28:46,1,2023-02-21 02:29:16,02:29:16

In [154]:
df.loc[ncore_idx[0],'Sl_start'] < time_list[t]

False

In [ ]:
end_date

In [52]:
t = 890 + 891 * (k-1)
time_list[t]

AttributeError: ignored

In [55]:
a = pd.to_datetime(time_list[10], format='%Y-%m-%d %H:%M:%S', errors='raise')
type(a)

pandas._libs.tslibs.timestamps.Timestamp

In [54]:
a = pd.to_datetime(time_list[10], format='%Y-%m-%d %H:%M:%S', errors='raise')
a.dt.time

AttributeError: ignored

In [61]:
a = str(time_list[10])
datetime.datetime.strptime(a, '%Y-%m-%d %H:%M:%S').dt.time

AttributeError: ignored

In [48]:
time_list[890*3 + 2]

Timestamp('2023-02-23 07:25:00')

In [50]:
time_list[890 + 891*2]

Timestamp('2023-02-23 07:25:00')